* {
    box-sizing: border-box;
}

body {
    background-image: url(images/157bswitch.png);
    background-repeat: no-repeat;
    background-size: contain;
    
    transition: all 2s;
}

body.switch {
    background-image: url(images/night.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 2s;
    background-color: rgb(235, 235, 235);
    color: #333;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header {
    margin: 0 auto 2em auto;
    text-align: center;
}
h1,h2,h3{
font-family: 'Catamaran', sans-serif;

}
h1{
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;
    display: block;
    padding: 20px;
   

}
/*h1.swtich{
    color: alicebluec;
}
h1{
    border-radius: 1em 0 1em 0;
   
  background-image: linear-gradient(
    -100deg,
    rgba(255, 20, 0, 0.2),
    rgba(255, 20, 0, 0.7) 95%,
    rgba(255, 20, 0, 0.1)
  )
}*/
section h3{
    text-align: center;
    text-decoration: underline;
}

#banner {
    position: relative;
    display: flex;
    width: 1100px;
    height: 250px;
    margin: auto;
    background-color: rgb(235, 235, 235);
    color: #333;
    overflow: hidden;
    display: grid;
	place-items: center;
    background-image: url(images/office.png);
    background-repeat: no-repeat;
    background-size:contain;

}
.office{
    position: absolute;
    animation: wiggle 5s infinite;
}
@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(3deg); }
   95% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}

.plane{
    position: absolute;
    animation: fly 5s linear 0s infinite;
}
@keyframes fly{
    0% {
        top: 0%;
        left: 0%;
      }
      75% {
        top: 50%;
        left: 50%;
      }
      100% {
        top: 0%;
        left: 100%;
      }
    
    
}

#banner.switch {
    background-color: rgb(159, 156, 156);
    background-image: url(images/night.png);
    opacity: 50%;

}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

main section {
    width: 25%;
    border: 5px rgb(28, 70, 118) solid;
    margin: 0 .25em;
    padding: 1em;
}

main section.switch{
    width: 25%;
    border: 5px rgb(241, 245, 248) solid;
    margin: 0 .25em;
    padding: 1em;
}

a {
    text-decoration: none;
    font-family: 'Alfa Slab One', cursive;
}
a.switch{
    font-family: 'Rubik Pixels', cursive;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: rgb(37, 69, 50);
    text-align: center;
}

section a:hover {
    background-color: rgb(118, 130, 206);
    color: #333;
}

section.switch a {
    font-family: 'Rubik Pixels', cursive;
    text-transform: uppercase;
    color: #333;

}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-color: rgb(37, 69, 50);
    color: #333;
    border: 1px solid transparent;
}

button:hover {
    background-color: coral;
    cursor: pointer;
}

button.switch {
    background-color: rgb(235, 235, 235);
    border-color: #333;
}

button.switch:hover {
    background-color: #333;
    color: rgb(235, 235, 235)

}
