h1{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 50px;
    color: #86A69D;
 
}
h2{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 30px;
    color: #F2B263;

}
body{
    background-color: #F2E8DF;
}
p {
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
    background-color: #F2B263;
    border: 5px solid#86A69D;
    text-indent: 1.5em; 
  margin-left: 200px;
  margin-right: 200px;
}
ul li{
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #F2B263;
    border: 5px solid#86A69D;
  margin-left: 200px;
  margin-right: 200px;
}
.selfie{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img{

    margin-left: 100px;
}
a{  display: block;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
    background-color: #86A69D;
    text-decoration: none;
    text-align: center;
    color: #F2B263;
    font-size: 20px;
    font-family: 'Dongle', sans-serif;
    border-radius: 10px;
}
h2 span{
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
 background-color:  #86A69D;

}
.moodboard{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}