body{
    background-color: #FEFFE9;
    font-family: 'Poppins', sans-serif;
}
.flex-container{
    display: flex;
    justify-content: center;
}
#map { 
    width: 700px;
    height: 700px;
    display: flex;
    margin-top: 50px;
    margin-left:50px ;
    margin-bottom: 50px;
}

#title {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  color: #2E3105;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px  #2E3105,
               1px 2px 0px #2E3105,
               1px 3px 0px  #2E3105,
               1px 4px 0px  #2E3105,
               1px 5px 0px  #2E3105,
               1px 6px 0px  #2E3105,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
}
#home{
    border-bottom: 2px solid #2E3105;
    margin-top: 20px;
    padding: 50px;
    background-color: #B8BC7F;
}
.home-button{
    text-decoration: none;
    color: bisque;
    padding: 10px;
    padding-top: -100px;
    border-radius: 20px;
    background-color: #2E3105;
   position: static;
}
.heading1{
    font-size: 20px;
}

#temple{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: row;
    display: block;
    padding:20px;
    background-color: #654842;
}
label, input{
    display: block;
    margin: auto;
    margin-bottom: 1em;
    text-align: center;
    color: #2E3105;
}
input{
   padding: 10px;
   

}
.send{
background-color: #DFE777;
border-radius: 20px;
}
.connection{
    display: flex;
}
br{
    text-indent: 1em;
}
#seal-connection{
    padding: 30px;
    background-color: #DFE777;
    box-sizing: border-box;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
  
    padding-left: 20px;
    padding-right: 20px;

    
}
#upload{
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
  
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    background-color: #FFFDC1;
    border-radius: 20px;
}
textarea{
    align-self: center;
}
h1{
    text-align: center;
    color: #2E3105;
}
p{
    text-indent: 1em;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;

}
#uploaded-img{
 display: block;
}

