body{
    background-color: #FEFFE9;
    font-family: 'Poppins', sans-serif;
}
.flex-container{
    display: flex;
    justify-content: center;
}
#map { 
    width: 500px;
    height: 700px;
    display: flex;
}
#title{
    text-align: center;
   /* margin-top: 10%;*/
}
#home{
    border-bottom: 2px solid #2E3105;
    margin-top: 20px;
    padding: 50px;
    background-color: #B8BC7F;
}
.home-button{
    text-decoration: none;
    color: bisque;
    padding: 10px;
    padding-top: -100px;
    border-radius: 20px;
    background-color: #2E3105;
   position: static;
}
.heading1{
    font-size: 30px;
}
.heading2{
    font-size: 20px;
    padding-bottom: 40px;
}
#temple{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: row;
    display: block;
    padding:20px;
    background-color: #654842;
}
label, input{
    display: block;
    margin: auto;
    margin-bottom: 1em;
    text-align: center;
    color: #2E3105;
}
input{
   padding: 10px;
   

}
.send{
background-color: #DFE777;
border-radius: 20px;
}
#seal-connection{
    display: flex;
    padding: 30px;
    background-color: #DFE777;
    box-sizing: border-box;
    box-shadow: 2px #2E3105;
    border-radius: 20px;
  
    padding-left: 20px;
    padding-right: 20px;
    
}
h1{
    text-align: center;
    color: #2E3105;
}
p{
    text-indent: 1em;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;

}
