/*leaflet map*/
#map-container {
    display: flex;
    background: linear-gradient(to bottom, #ffffff, #ecec8f );
  }
  
#map { 
    width: 700px;
    height: 700px;
    display: flex;
    margin-top: 50px;
    margin-left:50px ;
    margin-bottom: 50px;

}
h1{
    font-family: 'Cherry Bomb One', cursive;
    text-align: center;
}
h2, p{
    font-family: 'Ubuntu', sans-serif;
}

  

#front {
    background-image: url(images/daviss.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    position: relative;
    opacity: 60%;
  }
  
  .header-content {
    text-align: center;
    width: 100%;
  }
  
  .header-title {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
 
  
  .header-subtitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  .link {
    text-decoration: none;
    color: inherit;
  }
  
  .link:hover {
    background-color: #ffcc00;
    color: #fff;
    padding: 2px;
    border-radius: 4px;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .animate-typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 4s steps(30) 1s 1 normal both;
  }
  

#popup-content strong {
     font-family: 'Cherry Bomb One', cursive;
    color: #875f08;
  }
  
  #popup-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
  
  }
  
  #popup-content p {
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
  }
  #popup-content {
    padding: 20px;
    max-height: 400px;
    max-width: 400px;
    margin: 100px auto;
    position: relative;
    display: inline-block;
    background: rgb(230,233,233);
    background: linear-gradient(0deg, rgba(230,233,233,1) 0%, rgba(241,211,143,1) 52%, rgba(253,187,45,1) 100%);
    color: #875f08;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  #popup-content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fdbb2d transparent;
  }
  
  footer {
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .citation {
    font-style: italic;
    font-size: 18px;
  }
  
  .author {
    margin-top: 10px;
    font-weight: bold;
  }
  